.foto{
    flex-grow: 1;
    background-color: aqua;
}
.datosProducto{
    flex-grow: 2;
    background-color: green;
}

main{
    display: flex;
    background-color: red;

}
.tamanoFoto{
    height: 100px;
    width: auto;
}