.foto{
    flex-grow: 1;
    background-color: cadetblue;
}

.datosProducto{
    flex-grow: 2;
    background-color: grey;
}

.datosProducto input {
    border-radius: 25px;
    margin-bottom: 25px;
}

.datosProducto button {
    border-radius: 5px;
    border:solid 10 px;
    margin-bottom: 25px;
    margin-right: 100px;
    background-color:beige;
}

.datosProducto textarea {
    border-radius: 25px;
    margin-bottom: 25px;
    background-color:beige;
    width: 300px;
    height: 150px;
}

main{
    display: flex;
    background-color: red;

}
.tamanoFoto{
    height: 100px;
    width: auto;
}