.estilotabla{
    background-color: rgb(140, 228, 231);
    border: solid 2px;
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    font-weight: bold;
}
th,td{
    border:1px solid black;
}