.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.contenido {
    display:flex;
    border: solid 3px;
    width: 350px;
    height: 50%;
}

.izquierda{
    background-color:rgb(105, 105, 253);
    width: 40%;
}

.derecha{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;

}