.barra{
    display:flex;
    font-weight: bold;
    color:green;
    height: 10vh;

}
.logotipo{
    width: auto;
    height: 10vh; 
}
.lista{
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    text-decoration: none;

}
.menu{
    width: 100%;
}
.login{
    width: 50px; 
    margin-right: 50px;
    border: solid
}
